{% extends "template_cadastros.html" %}

{% block title %}Cadastro de Gênero{% endblock %}

{% block content %}
<div class="container">
    <div class="title">
        <svg viewBox="0 0 87 19" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <rect width="87" height="19" rx="9.5" fill="#F26510" />
        </svg>
        <h1>Cadastrar Gênero</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nome.label_tag }}
            {{ form.nome }}
            {% if form.nome.errors %}
                <div class="form-errors">
                    {{ form.nome.errors }}
                </div>
            {% endif %}
        </div>

        <button type="submit">Salvar</button>
    </form>
</div>
{% endblock %}
